<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adopt">

	<sql id="where-list">
		<if test = "searchKey == 'name'">
			name = #{searchValue}
		</if>
		<if test="searchKey == 'subject'">
			subject LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchKey == 'content'">
			INSTR(content, #{searchValue}) &gt; 0
		</if>
		<if test="searchKey == 'created'">
			TO_CHAR(created, 'YYYY-MM-DD') = #{searchValue}
	          OR TO_CHAR(created, 'YYYYMMDD') = #{searchValue}
		</if>
	</sql>
	
	<select id="seq" resultType="Integer">
		SELECT preSale_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertPreSale" parameterType="com.pet.adopt.Adopt">
		INSERT INTO preSale (preSaleNum, subject, content, species, type, gender,
		lineage, month, price, deposit, vaccin, num)
		VALUES(#{preSaleNum},#{subject},#{content},#{species},#{type},
		#{gender},#{lineage},#{month},#{price},#{deposit},#{vaccin},#{num})
	</insert>
	
	<insert id="insertPreSalePhoto">
		INSERT INTO PreSalePhoto(photoNum, saveFilename, preSaleNum)
		VALUES(preSalePhoto_seq.NEXTVAL,#{saveFilename},#{preSaleNum})
	</insert>

	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*),0) FROM preSale
		<where>
          <if test="searchValue != null and searchValue != '' ">
			   <include refid="where-list"/>
		   </if>
	   </where>
	</select>

	<select id="listPreSale" resultType="com.pet.adopt.Adopt" parameterType="map">
	SELECT * FROM (
  		SELECT ROWNUM rnum, tb.* FROM (
    		SELECT preSaleNum, subject, userId
    		FROM preSale p JOIN
    		member m ON p.num=m.num
    		 <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                 </if>
	                </where>
    		ORDER BY preSaleNum DESC
   	<![CDATA[
  		) tb WHERE ROWNUM <= #{end}
	) WHERE rnum >= #{start}
	]]>
	</select>

	<select id="listPhoto" resultType="com.pet.adopt.Adopt" parameterType="Integer">
	SELECT tb1. * FROM(
  		SELECT saveFilename
  		FROM preSalePhoto
  		WHERE  preSaleNum=#{preSaleNum}
  		ORDER BY photoNum
  	<![CDATA[
  	)tb1 WHERE ROWNUM =1
  	]]>
	</select>

	<select id="readPreSale" resultType="com.pet.adopt.Adopt" parameterType="Integer">
	SELECT preSaleNum, subject, userId, content, 
  		TO_CHAR(p.created, 'YYYY-MM-DD') created, 
  		species, type, gender, lineAge, month, price, 
  		deposit, vaccin, p.num, hitCount
	FROM preSale p JOIN member m ON p.num=m.num
	WHERE preSaleNum=#{preSaleNum}
	</select>
	
	<select id="readPreFile" parameterType="Integer" resultType="com.pet.adopt.Adopt">
	SELECT photoNum, saveFilename, preSaleNum
	FROM preSalePhoto
	WHERE preSaleNum=#{preSaleNum}
	</select>

	<update id="preUpdateHitCount" parameterType="Integer">
	UPDATE preSale SET hitCount=hitCount+1
 	WHERE preSaleNum=#{preSaleNum}
	</update>
	
	<delete id="deletePreSale" parameterType="Integer">
	DELETE FROM preSale WHERE preSaleNum=#{preSaleNum}
	</delete>








</mapper>