<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmark">

	<insert id="insertBookmark" parameterType="com.pet.member.Bookmark">
		INSERT INTO bookmark(bookmarkNum, hostNum, num)
		VALUES(bookmark_seq.NEXTVAL, #{hostNum}, #{num})
	</insert>
	
	<delete id="deleteBookmark" parameterType="Integer">
		DELETE FROM bookmark 
		WHERE bookmarkNum=#{bookmarkNum}	
	</delete>
	
   <select id="listBookmark" parameterType="map" resultType="com.pet.member.Bookmark">
   		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT b.hostNum, address, cost, subject, userName, profile
			     FROM bookmark b JOIN host h ON b.hostNum=h.hostNum JOIN member m ON m.num=b.hostNum
			     WHERE b.hostNum=m.num
				 ORDER BY bookmarkNum DESC
		<![CDATA[
	     	 ) tb WHERE ROWNUM <= #{end}
	   	 ) WHERE rnum >= #{start}
	    ]]>	 
   </select>
   
   <select id="dataCount" parameterType="map" resultType="Integer">
   	SELECT NVL(COUNT(bookmarkNum), 0) FROM bookmark b JOIN member m ON b.num=m.num
   </select>
   
</mapper>