<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photo">

	<insert id="insertPhoto" parameterType="com.pet.photo.Photo">
	  INSERT INTO photoGal (photoNum, species, saveFilename, subject, content, num)
	  VALUES (photoGal_seq.NEXTVAL, #{species}, #{saveFilename}, #{subject}, #{content},#{num})
	</insert>
	
	<sql id="where-list">
		<if test="searchKey=='userName'">
			userName=#{searchValue}
		</if>
		<if test="searchKey=='subject'">
			INSTR(subject,#{searchValue})&gt;0
		</if>
		<if test="searchKey=='content'">
			DBMS_LOB.INSTR(content,#{searchValue})&gt;0
		</if>
		<if test="searchKey=='created'">
			TO_CHAR(created,'YYYY-MM-DD')=#{searchValue}
			OR TO_CHAR(created,'YYYY-MM-DD')=#{searchValue}
		</if>
	</sql>
	
	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*),0) FROM photoGal
		<where>
			<if test="searchValue!=null and searchValue!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listPhoto" parameterType="map" resultType="com.pet.photo.Photo">
		SELECT*FROM(
   			 SELECT ROWNUM rnum,tb.* FROM(
        		SELECT photoNum, species, saveFilename, subject, content, m.userName,
          			TO_CHAR(p.created, 'YYYY-MM-DD') created, hitCount 
        		 FROM photoGal p JOIN member m ON p.num=m.num
        <where>
        	<if test="searchValue !=null and searchValue !='' ">
        		<include refid="where-list"/>
        	</if>        
        </where>        		   
     	    	 ORDER BY photoNum DESC
     	  <![CDATA[  	 
     		 )tb WHERE ROWNUM<=#{end}
  		)WHERE RNUM >= #{start}
  		]]>    
	</select>
	
	<select id="readPhoto" parameterType="Integer" resultType="com.pet.photo.Photo">
		SELECT photoNum, species, saveFilename, subject, content, m.userName, m.userId,
  			  TO_CHAR(p.created,'YYYY-MM-DD') created, hitCount
		FROM photoGal p JOIN member m ON p.num=m.num
   			WHERE photoNum=#{photoNum}
	</select>
	
	<update id="photoUpdateHitCount" parameterType="Integer">
	   UPDATE photoGal SET hitCount=hitCount+1
	   	WHERE photoNum=#{photoNum}
	</update>
	
	<update id="updatePhoto" parameterType="com.pet.photo.Photo">
		UPDATE photoGal SET species=#{species}, subject=#{subject}, content=#{content},
		  saveFilename=#{saveFilename}  WHERE photoNum=#{photoNum}
	</update>
	
	<delete id="deletePhoto" parameterType="Integer">
		DELETE FROM photoGal WHERE photoNum=#{photoNum}
	</delete>
	
	
	
	<insert id="insertPhotoReply" parameterType="com.pet.photo.Reply">
		INSERT INTO photoGalReply (replyNum, photoNum, num, content)
			VALUES(photoGalReply_seq.NEXTVAL, #{photoNum}, #{num}, #{content})
	</insert>
	
	<select id="dataCountPhotoReply" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(replyNum),0) FROM photoGalReply WHERE photoNum=#{photoNum}
	</select>
	
	<delete id="deletePhotoReply" parameterType="Integer">
		DELETE FROM photoGalReply WHERE replyNum=#{replyNum}
	</delete>
	
	<select id="listPhotoReply" resultType="com.pet.photo.Reply" parameterType="map">
		select*from(
		    select ROWNUM rnum, tb.* from(
   			     select replyNum, p.photoNum,m.num, userName, userId, p.created, p.content
         	    from photoGalReply p JOIN photoGal g ON p.photoNum=g.photoNum
         		    JOIN member m ON g.num=m.num
         	   ORDER BY replyNum DESC
   		<![CDATA[
   			 ) tb WHERE ROWNUM<=#{end}
		) WHERE RNUM >= #{start}
		]]>
	</select>

</mapper>